pkgbase = twitter-media-downloader-bin
	pkgdesc = A tool to download media from Twitter (pre-built binary)
	pkgver = 1.14.2
	pkgrel = 1
	url = https://github.com/mmpx12/twitter-media-downloader
	arch = x86_64
	arch = aarch64
	license = unknown
	depends = glibc
	provides = twitter-media-downloader
	conflicts = twitter-media-downloader
	conflicts = twitter-media-downloader-git
	source_x86_64 = https://github.com/mmpx12/twitter-media-downloader/releases/download/v1.14.2/twitter-media-downloader-v1.14.2-linux-amd64.tar.gz
	sha256sums_x86_64 = 52c306a32db7e78a054d21c742f3b0b04baff9d5fef6fd16992929a678fb79b9
	source_aarch64 = https://github.com/mmpx12/twitter-media-downloader/releases/download/v1.14.2/twitter-media-downloader-v1.14.2-linux-arm64.tar.gz
	sha256sums_aarch64 = 3432adb63bd80f924ce24a092d44d2e40df33797b743356e71bd49a2a1eab45b

pkgname = twitter-media-downloader-bin
