pkgbase = funcher-git
	pkgdesc = Animated app launcher with mpv video playback and input-based animations for Wayland
	pkgver = r15.e989161
	pkgrel = 1
	url = https://github.com/Tong-ST/Funcher
	install = funcher.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = gcc
	makedepends = make
	makedepends = pkg-config
	depends = mpv
	depends = bc
	depends = jq
	depends = socat
	depends = libinput
	depends = systemd-libs
	depends = wofi
	optdepends = alacritty: terminal emulator for terminal-based apps
	optdepends = calcurse: calendar and scheduling application
	optdepends = ranger: terminal file manager
	optdepends = hyprland: alternative Wayland compositor
	optdepends = sway: Wayland compositor (recommended)
	provides = funcher
	conflicts = funcher
	source = git+https://github.com/Tong-ST/Funcher.git
	source = pip-boy-vdo.tar.xz::https://github.com/Tong-ST/Funcher/releases/download/Prototype/pip-boy-vdo.tar.xz
	sha256sums = SKIP
	sha256sums = 7c54afd148eab0a1611686bf949f313b8edb957da9f641bc1e9fc1af09cb8883

pkgname = funcher-git
